h1{  
    color: blue;

}
p{
    color: white;
    background-color: crimson;
    padding: 15px;
    border: 10px solid powderblue;
    margin: 50px;
}

/*Si se coloca un solo valor en el padding este se clona en los
demas atributos top, left, bottom, right*/
/*El margen no es para establecer color, sino para establecer espacio*/
/*Si se colocan mas valores para estas cajas estas pueden tener su propio valor
asignado*/