h1{
    color: #f07167;

}

a:link{
    color: #fb8500;
    text-decoration: none;
    /*Esto le quita el subrayado al link*/
}

a:visited{
    color: #219ebc;
    text-decoration: none;
    /*Esto le quita el subrayado al link*/
}
a:hover{
    /*Cuando nos ponemos encima del link*/
    color: #000;
    text-decoration: underline;
}

a:active{
    color: yellow;
    text-decoration: underline;
}